{% extends "autenticacio/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class=" gradient container-fluid min-vh-100">
  <div class="p-5 row justify-content-center ">
      <div class="bg-white col-lg-5 border border-light rounded">
        <h2 class="text-center p-5">Formulari Alumne Nou</h2>
        <div class="row justify-content-md-center">
          <div class="w-75">
            <fieldset disabled>
              <div class="mb-4">
                <label for="disabledTextInput" class="form-label">Nom Alumne</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{user.get_full_name}}">
              </div>
            </fieldset>
            <form method="post" class="mb-3 pb-5 needs-validation" novalidate>
              {% csrf_token %} 
              <div class="mb-2 form-group">
                <label for="curs">Curs</label>
                <select id="curs" class="form-select form-select-sm" required>
                    <option value="" hidden>Seleciona el teu Curs</option>
                    {% for curs in llista_cursos %}
                        <option value="{{curs.id}}">{{curs.nom}}</option>
                    {% endfor%}
                </select>     
              </div>
              <div class="mb-2 form-group">
                <label for="grup">Grup</label>
                <select id="grup" class="form-select form-select-sm d-node" required>
                    <option value="" hidden>Seleciona el teu Grup</option>
                </select>     
              </div>
              <button type="submit" class="mb-4 w-100 mt-5 btn btn-success">Enviar Formulari</button>
            </form>         
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
{% block extrajs %}
    <script defer type="text/javascript" src="{% static 'js/autenticacio/grup.js' %}"></script>
{% endblock extrajs %}
