{% extends "aplicacions/gestio_grups_encarregats/llista_aplicacions_grups_encarregats.html" %}
{% load static %}
{% block aplicacio %}
<div class="d-flex justify-content-center text-center mt-3 mb-3">
    <h3>Modificar grups i encarregats <br> {{aplicacio.0.nom}} </h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-xxl-6 col-md-6">
      <div class="card text-center">
        <div class="card-body">
          <h4>Afegir grups
            <button onclick="obrir_modal_modificar_grups_aplicacio('{% url 'aplicacions:modificar-grups-aplicacio' aplicacio.0.id %}')" 
                    class="btn shadow-none p-0 pb-2 pe-2"> 
                    <i  class="bi bi-plus-square align-middle" style="font-size:15px;"></i>
            </button>
          </h4>
          <ol class="list-group list-group-numbered">
            {% for grup in aplicacio.0.llista_grups.all %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">{{grup}}</div>
              </div>
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
    <div class="col-xxl-6 col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h4>Afegir Encarregats
            <button onclick="obrir_modal_modificar_encarregats_aplicacio('{% url 'aplicacions:modificar-encarregats-aplicacio' aplicacio.0.id %}')" 
                    class="btn shadow-none p-0 pb-2 pe-2"> 
                    <i  class="bi bi-plus-square align-middle" style="font-size:15px;"></i>
            </button>
          </h4>
          <ol class="list-group list-group-numbered">
            {% for encarregat in aplicacio.0.llista_encarregats.all %}
              {% if encarregat %}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{encarregat.get_full_name}}</div>
                </div>
              </li>
              {% endif %}
            {% endfor %}
            {% if not aplicacio.0.llista_encarregats.all %}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">No hi han encarregats </div>
                </div>
              </li>
            {% endif %}
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" id="modalModificarGrups" role="dialog"></div>
<div class="modal fade" tabindex="-1" id="modalModificarEncarregats" role="dialog"></div>
{% endblock %}
{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/aplicacions/gestio_encarregat_grups.js' %}"></script>
{% endblock extrajs %}