<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Modificar Encarregats</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="{% url 'aplicacions:modificar-encarregats-aplicacio' aplicacio.id %}" method="POST">
        {% csrf_token %} 
        <div class="modal-body">
            <div class="row g-3 align-items-center mb-2">
                <div class="col-auto">
                  <label for="encarregat" class="col-form-label">Encarregat:</label>
                </div>
                <div class="col-auto">
                  <input type="text" id="encarregat" class="form-control">
                </div>
            </div>
            <hr>
            {{form}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>