{% extends "login/base.html" %}
{% load socialaccount %} 
{% block content %}
<section id="login">
  <div class="login-contenidor">
    <h1 data-aos="zoom-in">Portal Sapalomera</h1>
    <h2 data-aos="fade-up">Uneix-te per utilizar les aplicacions del Institut Sapalomera</h2>
    <a data-aos="fade-up" data-aos-delay="200" href="{% provider_login_url 'google' %}" class="btn-google scrollto">Sign in with Google</a>
    {% if error %}
    <div id ="error" class="alert alert-danger mt-5" role="alert">
      {{error}}
    </div>
  {% endif %}
  </div>
</section>
{% endblock %}
