{% load crispy_forms_tags %}
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Eliminar: {{departament.nom}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="{% url 'batxSeminaris:eliminar-departament' departament.id %}" method="POST">
        {% csrf_token %} 
        <div class="modal-body">
            Estas segur d'eliminar el departament: {{departament.nom}}?     
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Eliminar</button>
        </div>
    </form>
</div>



