/*wrapper Amagar sidebar*/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 290px;
}

.color-sidebar {
  background:#EBEBEB !important;
}
#sidebar-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 290px;
  z-index: 1000;
  overflow-y: auto;
  margin-left: -290px;
  width: 0;
  height: 100%;
  background:#212529;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 290px;
}

#page-content-wrapper {
  padding: 15px;
  width: 100%;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -290px;
}
#gestioGrupsIcon{
  position: absolute;
  left: 80%;
  top: 0;
  transform: translate(30%, 10%);
}
.icones-color{
  color:#464033;
}
.icones-color:hover {
  color: rgb(23, 23, 218);
  transform: scale(5)
}

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 290px;
  list-style: none;
}

@media (min-width: 768px) {
  #wrapper {
      padding-left: 290px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 290px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 0;
  }

  #page-content-wrapper {
      padding: 20px;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}

/*background color botons seminaris*/

.color-boto:hover{
  background-color: #6c757d;
}
.colorNavLink{
  color: white !important;
}

/*Treure border de de tr */
tr.noBorder td {
  border: 0;
}
.active {
  background-color: #3b362f !important;
  color:white !important;
}

.butoDesactivat{
  background-color: #bf4552 !important;
  color: #ffffff !important;
}

/*Login*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}