/*wrapper Amagar sidebar*/

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 290px;
}

.color-sidebar {
  background:#EBEBEB !important;
}
#sidebar-wrapper {
  position: fixed;
  left: 290px;
  z-index: 1000;
  overflow-y: auto;
  margin-left: -290px;
  width: 0;
  height: 100%;
  background:#212529;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 290px;
}

#page-content-wrapper {
  padding: 15px;
  width: 100%;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -290px;
}


.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 290px;
  list-style: none;
}

@media (min-width: 768px) {
  #wrapper {
      padding-left: 290px;
  }

  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 290px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 0;
  }

  #page-content-wrapper {
      padding: 20px;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}

/*background color botons seminaris*/

.color-boto:hover{
  background-color: #6c757d;
}
.colorNavLink{
  color: white !important;
}

/*Treure border de de tr */
tr.noBorder td {
  border: 0;
}
.active {
  background-color: #000 !important;
}

.butoDesactivat{
  background-color: #995e5e !important;
  color: #ffffff !important;
}