{% extends "gestio_encarregats_grups_aplicacio/llista_aplicacions_grups_encarregats.html" %}
{% load static %}
{% block aplicacio %}
<div class="d-flex justify-content-center text-center mt-3">
    <h3>Modificar grups i encarregats <br></h3>
</div>
{{aplicacio.0.id}}
<button onclick="obrir_modal_modificar_grups_aplicacio('{% url 'gestioEncarregatsGrups:modificar-grups-encarregats' aplicacio.0.id %}')" class="btn shadow-none p-0 pb-2 pe-2"> <i  class="bi bi-plus-square align-middle" style="font-size:15px;"></i></button>

<div class="modal fade" tabindex="-1" id="modalModificarGrups" role="dialog"></div>
{% endblock %}
{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/gestio_encarregats_grups_aplicacio/gestio_encarregat_grups.js' %}"></script>
{% endblock extrajs %}