{% extends "base.html" %} {% block content %}
<div id="wrapper">
    <div class="container-fluid">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <div class="row d-flex justify-content-center">
                    <div class="col-11">
                        {% if llista_aplicacions %} {% for aplicacio in llista_aplicacions %}
                        <div class="card mx-1 mt-2">
                            <div class="card-body  ms-2">
                                <h5 class="card-title">{{ aplicacio.nom }}</h5>
                                <p class="card-text  ms-2">{{ aplicacio.descripcio }}</p>
                                <div class="row">
                                    <div class="col-1  ms-1 me-1 mt-1 ">
                                        <i class="bi bi-clock-history fa-9x" style="font-size: 20px;"></i>
                                    </div>
                                    <div class="col-6">
                                        <small>
                                            Disponible fins
                                            <p>{{ aplicacio.data_limit_fi | date:'d-m-Y' }}</p>
                                        </small>
                                    </div>
                                    <div role="button" class="col-1 me-2 mt-1">
                                        <a href="{% url 'gestioEncarregatsGrups:llistar-grups-encarregats' aplicacio.id %}"><i class="bi bi-people" style="font-size: 27px;"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %} 
                        {% else %}
                        <div class="card mx-1 mt-2">
                            <div class="card-body  ms-2">
                                <h5 class="card-title">Aplicacions</h5>
                                <p class="card-text ">No hi han aplicacions disponibles</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </ul>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% block aplicacio %}
                {% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</div>
<!-- /#wrapper -->
{% endblock content %}
