{% extends "aplicacions/llistar_aplicacions.html" %}
{% block aplicacio %}
{% load static %}
<div class="container">
    <div class="row align-items-center shadow rounded mt-2">
        <h3 class="text-center p-3">Temes Sol·licitats</h3>
        <div class="col-10 ms-5">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                        <th scope="col">Opcio</th>
                        <th scope="col">Tema Projecte</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solicitud  in llista_solicituds %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{solicitud.seminari}}</td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
            <p class="fw-lighter m-0">* un cop assignat el projecte sortira el resultat</p>
            <div class="d-flex flex-nowrap mt-5 pb-3 mb-4 align-items-center p-2 mb-5">
                {% for solicitud  in llista_solicituds %}
                    {% if solicitud.assignat == True %}
                        <h4 class="font-monospace">Tema assignat: </h4> <h5 class="ms-2 pt-1 font-monospace">{{solicitud.seminari}} </h5>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
