<nav class="navbar navbar-light p-md-1 bg-dark">
  <div class="container d-flex justify-content-between text-white">
    <a class="navbar-brand titol text-white"> Portal Sapalomera</a>
    <div class="mx-auto nom"></div>
    Hola, {{user.get_full_name}}
    <div class="dropdown">
      <a
        class="nav-link dropdown-toggle text-dark"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="27"
          height="27"
          fill="white"
          class="bi bi-person-circle"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
          />
        </svg>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li>
          <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Tancar Secció
          </button>
        </li>
      </ul> 
    </div>    
    <!-- Modal Logout -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="text-dark modal-title" id="exampleModalLabel">Tancar Sessió</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="text-dark modal-body">
            {{user.get_full_name}},<br>
            Estas segur de tancar sessió? 
          </div>
          <div class="modal-footer">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %} {% if redirect_field_value %}
              <input
                type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}"
              />
              {% endif %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel·lar</button>
            <button type="submit" class="btn btn-secondary">Tancar sessió</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
