{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div
      class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column"
      id="sidebar"
    >
      <ul class="nav flex-column text-white w-100">
        <span class="nav-link h5 text-white text-center my-2">
          Administració </br>Temes Projecte
          <hr/>
        </span>
        <li href="#" class="botoClicat nav-link">
          <span>Assignar <br> Projecte</span>
        </li>
        <li onclick = "location.href= '{% url 'batxSeminaris:manteniment-formulari' %}'" class="nav-link botons" role="button">
            <div class="row">
                <div class="col-sm-2 pt-1">
                    <i class="bi bi-patch-exclamation" style="font-size:20px;" ></i>
                </div>
                <div class="col-sm-10">
                    Manteniment <br> Formulari
                </div>
            </div>
        </li>
      </ul>
</div>
<div class="p-1 active-cont">
  <div class="container p-5">
    <div class="row py-4">
        <div class="col-sm-7">
          <h5>Llistat Alumnes</h5>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-2 pe-3">
            <button type="button" class="btn btn-outline-secondary btn-sm">Exportar LListat</button>
        </div>
    </div>
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="grup" class="col-form-label">Grub:</label>
      </div>
      <div class="col-sm-1">
        <select class="form-select" id="grup">
          <option selected>---</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col-sm-5 ms-2"></div>
      <div class="col-auto">
        <label for="alumne" class="col-form-label">Alumne:</label>
      </div>
      <div class="col-sm-2">
        <input type="input" id="alumne" class="form-control">
      </div>
    </div>
    <div class="py-5">
      <div class="row py-2">
        <div class="col-md-9">
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                  <thead>            
                    <tr>
                        <th>Alumne</th>
                        <th>Primera Opció</th>
                        <th>Segona Opció</th>
                        <th>Tercera Opció</th>
                        <th>Plantajament</th>
                    </tr>
                </thead>
                <tbody>
                  {% for key, value in solicituds %}
                    <tr>
                      <td>{{value.0.usuari}}</td>
                    {% for solicitud in value %}
                        <td>{{solicitud.seminari}}</td> 
                    {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}