{% extends "aplicacions/llistar_aplicacions.html" %}
{% block aplicacio %}
{% load static %}

<div class="text-center pt-4">
    <h3>Sol·licitud Tema Treball</h3>
</div>
<div class="row justify-content-md-center pt-3 overflow-auto" style="height:75vh">
    <div class="col-md-9">
        <form id="formulariSolicituds" method="post">
            {% csrf_token %} 
            <div>
                <h4>Primera Opcio</h4>
                <div class="mb-2 form-group">
                    <label for="departamentPrimeraOpcio">Departament</label>
                    <select id="departamentPrimeraOpcio" class="form-select form-select-sm" required>
                        <option value="" hidden>Seleciona Departament</option>
                        {% for departament in llista_departaments %}
                            <option value="{{departament.id}}">{{departament.nom}}</option>
                        {% endfor%}
                    </select>
                </div>
                <div class="mb-2 form-group">
                    <label for="seminariPrimeraOpcio">Seminari</label>
                    <select id="seminariPrimeraOpcio" class="form-select form-select-sm" required>
                        <option value="" hidden>Selecciona Seminari</option>
                    </select>
                </div>
                <div class="mb-2 form-group">
                    <label for="plantajamentPrimeraOpcio" class="form-label">Example textarea</label>
                    <textarea class="form-control is-invalid" id="plantajamentPrimeraOpcio" rows="8" required></textarea>
                </div>
            </div>
            <div id="segonaOpcio" class="mt-5 d-none">
                <h4>Segona Opcio</h4>
                <div class="mb-2 form-group">
                    <label for="departamentSegonaOpcio">Departament</label>
                    <select id="departamentSegonaOpcio" class="form-select form-select-sm" required>
                        <option value="" hidden>Selecciona Departament</option>
                    </select>
                </div>
                <div class="mb-2 form-group">
                    <label for="seminariSegonaOpcio">Seminari</label>
                    <select id="seminariSegonaOpcio" class="form-select form-select-sm" required>
                        <option value="" hidden >Selecciona Seminari</option>
                    </select>
                </div>
                <div class="mb-2 form-group">
                    <label for="plantajamentSegonaOpcio is-invalid" class="form-label">Example textarea</label>
                    <textarea class="form-control is-invalid" id="plantajamentSegonaOpcio" required rows="8"></textarea>
                </div>
            </div>
            <div id="terceraOpcio" class="mt-5 d-none">
                <h4>Tercera Opcio</h4>
                <div class="mb-2 form-group">
                    <label for="departamentTerceraOpcio">Departament</label>
                    <select id="departamentTerceraOpcio" class="form-select form-select-sm" required>
                        <option value="" hidden>Selecciona Departament</option>
                    </select>
                </div>
                <div class="mb-2 form-group">
                    <label for="seminariTerceraOpcio">Seminari</label>
                    <select id="seminariTerceraOpcio" class="form-select form-select-sm" required>
                        <option value="" hidden>Selecciona Seminari</option>
                    </select>
                </div>
                <div class="mb-2 form-group">
                    <label for="plantajamentTerceraOpcio" class="form-label">Example textarea</label>
                    <textarea class="form-control is-invalid" id="plantajamentTerceraOpcio" required rows="8"></textarea>
                </div>
            </div>
            <button id="botoSubmit" type="submit" class="btn btn-dark d-none w-100 pt-2 ">Enviar Formulari</button>
        </form>
    </div>
</div>
{% endblock %}