<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, world!</title>
  </head>
  <style>
    @page {
        size: "A4";
        margin: 2.0cm 3cm 3.5cm 3cm;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      text-align: left;
    }
    </style>
  <body>
    <h1>LListat Alumnat i Seminaris</h1>
    <table style="font-family: arial, sans-serif; border-collapse: collapse; width: 60%;">
        <tr>
            <th colspan="2" style="width: 100px;">Nom Alunme</th>
            <th>Seminari</th>
        </tr>
        {% for solicitud  in llistaSolicituds  %}
        <tr>
            <td colspan="2">{{solicitud.usuari.get_full_name}}</td>
            <td>{{solicitud.seminari}}</td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>
