{% extends "base.html" %}
<style>
    .borderless td, .borderless th {
    border: none;}
    .btn {
    padding:0;
    margin:1;
    }
</style>
{% block content %}
{% for departamentSeminari in llista_manteniment %}
{% endfor %}
<div class="container">
    <div class="row">
        <h2 class="page-header pt-5"><div class="crush">Departaments i seminaris</div></h2>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-sm table-hover">
                    <thead>            
                        <tr>
                            <th class="align-text-bottom" colspan="4">
                                <button class=" text-center btn shadow-none"> <i class="bi bi-plus-square align-middle" style="font-size:15px;"></i></button>
                                Nou Departament
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- departaments -->
                        <tr class="align-middle">
                            <td class="text-nowrap">
                                <button class="btn shadow-none"> <i class="bi bi-plus-square"></i></button>
                                <button class="btn shadow-none mt-n1"> <i class="bi bi-pencil-square"></i></button>
                            </td>                     
                            <td colspan="2"><h5></h5></td>                 
                            <td style="text-align:right">
                                <button class="btn shadow-none"> <i class="bi bi-x-square"></i></button>
                            </td>
                        </tr>
                        <!-- Seminaris -->
                        <tr class="align-middle borderless">
                            <td style="text-align:right">
                                <i class="bi bi-circle-fill" style="font-size:12px;"></i>
                                <button class="btn shadow-none"> <i class="bi bi-pencil-square"></i></button>
                                <button class="btn shadow-none"> <i class="bi bi-x-square"></i></button>
                            </td>
                            <td colspan="2">Seminari Ciencia </td>
                            <td class="text-nowrap" style="text-align:right">
                                Places Disponibles:10   
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>      
    </div>                  
</div>         
{% endblock %}