{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class=" gradient container-fluid min-vh-100">
  <div class="row vertical-center justify-content-center ">
      <div class="bg-white col-lg-4 border border-light rounded">
        <h2 class="text-center p-5">Formulari Alumne Nou</h2>
        <div class="row justify-content-md-center">
          <div class="w-75">
            <fieldset disabled>
              <div class="mb-4">
                <label for="disabledTextInput" class="form-label">Nom Alumne</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{user.get_full_name}}">
              </div>
            </fieldset>
            <form method="post" class="mb-4">
              {% csrf_token %} 
              {{form.Curs|as_crispy_field}}
              <button type="submit" class=" mb-4 w-100 mt-5 btn btn-success">Enviar Formulari</button>
            </form>         
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
