{% extends "accounts/base.html" %}
{% load socialaccount %} 
{% block content %}
<div class=" gradient container-fluid min-vh-100 p-5">
  <div class="row vertical-center justify-content-center ">
      <div class="bg-white col-lg-4 border border-light rounded">
          <form class=" text-center p-5 size-form" action="#!">
              <p class="pb-2 h4 mb-4">Portal Sapalomera</p>
              <p>Uneix-te per utilizar <br> les aplicacions del centre</p>
              <!-- Sign in button -->
              <div class="pb-5"></div>
              <div class="pt-5 pb-5 text-dark ">
                <a
                  href="{% provider_login_url 'google' %}"
                  class=" gradient btn btn btn-lg btn-block"
                  role="button"
                  aria-pressed="true"
                  >Sign in with Google
                </a>
              </div>
              {% if error %}
                <div class="alert alert-danger" role="alert">
                  {{error}}
                </div>
              {% endif %}
        </form>
      </div>
  </div>
</div>
{% endblock %}
