{% extends "base.html" %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-3 overflow-auto">
      {% if llista_aplicacions %} {% for aplicacio in llista_aplicacions %}
      <div class="card mt-1">
        <div class="card-body">
          <h5 class="card-title">{{ aplicacio.nom }}</h5>
          <p class="card-text">{{ aplicacio.nom }}</p>
          <div class="row">
            <div class="col-1 my-2">
              <i class="bi bi-clock-history fa-9x"></i>
            </div>
            <div class="col-6">
              <small>
                Disponible fins
                <p>{{ aplicacio.data_limit_fi }}</p>
              </small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <p>No hi han aplicacions</p>
      {% endif %}
    </div>
    <div class="col-9 mx-auto vh-100 bg-light">APP</div>
  </div>
</div>
{% endblock content %}
